# Exclude local charts lock because these should be managed with argoCD
/services/**/charts/
/services/**/chart.lock

.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Argo local metadata
.argocd-helm-dep-up

# Comon template
rendered_manifest.yaml

# Folder that contains patch to non-gitops application to help with test can configuration
/overrides/**
!/overrides/README.md
